html,
body {
  min-height: 100%;
}

body {
  background: #f4f6f8;
  color: #202124;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
}

mat-card {
  border-radius: 10px !important;
}

mat-card-actions {
  align-items: center;
  padding: 16px !important;
}
